### Django ###
**/*.log
**/*.pot
**/*.pyc
**/__pycache__/
**/local_settings.py
**/db.sqlite3
**/db.sqlite3-journal
**/media/
.env*
**/.idea/

staticfiles
mediafiles
.DS_Store
.python-version
draft_models.py

*.sqlite3

**/migrations/
**__init__.py
